$unified-checkbox-margin-bottom: 							12px !default;
$unified-checkbox-gutter: 									12px !default;

$unified-checkbox-label-font-weight: 						inherit !default;

$unified-checkbox-control-size: 							26px !default;

$unified-checkbox-control-glyph-opacity: 					0.6 !default;
$unified-checkbox-control-glyph-width: 						8px !default;
$unified-checkbox-control-glyph-height:						12px !default;
$unified-checkbox-control-glyph-size:						2px !default;

$unified-checkbox-transitions: 								true !default;
$unified-checkbox-transition-speed:							200ms !default;
$unified-checkbox-transition-timing:						ease-in-out !default;
$unified-checkbox-transition-delay:							0s !default;

$unified-checkbox-border-selectors:							('.checkbox.__checkbox--ready .checkbox-control') !default;
$unified-checkbox-background-selectors:						('.checkbox.__checkbox--ready .checkbox-control') !default;
$unified-checkbox-font-selectors:							('.checkbox.__checkbox--ready .checkbox-label') !default;

@if variable-exists(form-validation-border-selectors) {
	$form-validation-border-selectors: append($form-validation-border-selectors, $unified-checkbox-border-selectors, 'comma');
}

@if variable-exists(form-validation-background-selectors) {
	$form-validation-background-selectors: append($form-validation-background-selectors, $unified-checkbox-background-selectors, 'comma');
}

@if variable-exists(form-validation-font-selectors) {
	$form-validation-font-selectors: append($form-validation-font-selectors, $unified-checkbox-font-selectors, 'comma');
}