$unified-checkbox-margin-bottom: 							12px !default;
$unified-checkbox-gutter: 									12px !default;

$unified-checkbox-label-font-weight: 						inherit !default;

$unified-checkbox-control-size: 							26px !default;

$unified-checkbox-control-glyph-opacity: 					0.6 !default;
$unified-checkbox-control-glyph-width: 						8px !default;
$unified-checkbox-control-glyph-height:						12px !default;
$unified-checkbox-control-glyph-size:						2px !default;

$unified-checkbox-transitions: 								true !default;
$unified-checkbox-transition-speed:							200ms !default;
$unified-checkbox-transition-timing:						ease-in-out;

$unified-checkbox-validation-enabled-for-font-color: 		true !default;
$unified-checkbox-validation-enabled-for-border-color: 		true !default;
$unified-checkbox-validation-enabled-for-background-color: 	true !default;

@if $unified-checkbox-validation-enabled-for-font-color == true {
	@if variable-exists(form-validation-font-color-selectors) == false {
		$form-validation-font-color-selectors: () !global;
	}

	$form-validation-font-color-selectors: append($form-validation-font-color-selectors, ('.checkbox.__checkbox--ready .checkbox-label'), comma);
}

@if $unified-checkbox-validation-enabled-for-border-color == true {
	@if variable-exists(form-validation-border-color-selectors) == false {
		$form-validation-border-color-selectors: () !global;
	}

	$form-validation-border-color-selectors: append($form-validation-border-color-selectors, ('.checkbox.__checkbox--ready .checkbox-control'), comma);
}

@if $unified-checkbox-validation-enabled-for-background-color == true {
	@if variable-exists(form-validation-background-color-selectors) == false {
		$form-validation-background-color-selectors: () !global;
	}

	$form-validation-background-color-selectors: append($form-validation-border-color-selectors, ('.checkbox.__checkbox--ready .checkbox-control'), comma);
}